## Basics of Python

Boolean functions

In [1]:
str="Ashish Vishnu"

In [4]:
print(str.isalnum())
print(str.isalpha())
print(str.isnumeric())
print(str.endswith('u'))
print(str.startswith('a'))

False
False
False
True
False

LIST

    - indexing
    - appending
    - extend
    - other operations

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13]

In [7]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [8]:
lst[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [9]:
lst[2:9]

[3, 4, 5, 6, 7, 8, 9]

In [10]:
lst.append(200)

In [11]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 200]

In [12]:
lst.append([300,400,600])

In [14]:
lst     #this will create a lis of list rather than adding into the list one by one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 200, [300, 400, 600]]

In [17]:
lst.extend([100,101,102])

In [18]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 200,
 [300, 400, 600],
 100,
 101,
 102]

In [19]:
lst.pop(-4)

[300, 400, 600]

In [20]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 200, 100, 101, 102]

In [21]:
lst.count(4)  #to find the number of occurances of the element

1

In [23]:
lst.index(100,0)   #to find the index of the value 100 starting from 0th index

14

SETS

set is a collection of data type that are iterable.mutable and has no duplicate elements.

In [1]:
set1={"iron man","hitman","avengers"}
print(set1)

{'avengers', 'iron man', 'hitman'}

In [2]:
set1.add("Vishnu")

In [3]:
set1

{'Vishnu', 'avengers', 'hitman', 'iron man'}

In [4]:
set1.add("Ashish")

In [5]:
set1

{'Ashish', 'Vishnu', 'avengers', 'hitman', 'iron man'}

In [6]:
set2={"Marvel","DC","avengers","hitman","spiderman","ironman"}
set2

{'DC', 'Marvel', 'avengers', 'hitman', 'ironman', 'spiderman'}

In [7]:
set2.difference_update(set1)

In [8]:
set2

{'DC', 'Marvel', 'ironman', 'spiderman'}

In [10]:
set1.intersection(set2)

set()

In [11]:
set1

{'Ashish', 'Vishnu', 'avengers', 'hitman', 'iron man'}

In [12]:
set1.intersection_update(set2)

In [13]:
set1

set()

In [18]:
set2.clear()

In [19]:
set2

set()

Dictionaries

dictionary which is a unordered,changeable and indexed.Which has keys and values

In [1]:
my_dict={"car1":"audi","car2":"bmw"}

In [2]:
my_dict.keys()

dict_keys(['car1', 'car2'])

In [3]:
my_dict["car1"]

'audi'

In [5]:
my_dict.values()

dict_values(['audi', 'bmw'])

In [6]:
my_dict.items()

dict_items([('car1', 'audi'), ('car2', 'bmw')])

In [7]:
my_dict["car3"]="audi"

In [8]:
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'audi'}

nested dictionaries

In [9]:
car1={"mercedes":1999}
car2={"bmw":2002}
car3={"audi":1990}

di={1:car1,2:car2,3:car3}

In [10]:
di

{1: {'mercedes': 1999}, 2: {'bmw': 2002}, 3: {'audi': 1990}}

In [13]:
print(di[1]["mercedes"])

1999

Tuple

In [14]:
my_tuple=("Ashish",0,"xgf")

In [15]:
my_tuple

('Ashish', 0, 'xgf')

In [16]:
my_tuple=("Ashish","Vishnu",0,1,2)

In [17]:
my_tuple

('Ashish', 'Vishnu', 0, 1, 2)

In [19]:
my_tuple.count("Ashish")

1

In [20]:
my_tuple.index(0)

2

Functions in python

In [1]:
def fun(a):
    return a**3

In [2]:
print(fun(99))

970299

In [17]:
def fun2(a,b):
    return ((a*b)-b)

In [18]:
print(fun2(299,2))

596

In [19]:
def hello(name,age=20):
    print("My name is {} and age {}".format(name,age))

In [22]:
hello("ashish")

My name is ashish and age 20

In [24]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [25]:
hello("Ashish","Vishnu",age=29,dob=2701)

('Ashish', 'Vishnu')
{'age': 29, 'dob': 2701}

Map function in python

In [28]:
def even_or_odd(num):
    if  num%2==0:
        return "The number is Even"
    else:
        return "The number is Odd"

In [29]:
even_or_odd(45)

'The number is Odd'

In [30]:
lst=[1,2,3,4,5,6,7,8,23,45,67,245,6786,9999]

In [31]:
list(map(even_or_odd,lst))

['The number is Odd',
 'The number is Even',
 'The number is Odd',
 'The number is Even',
 'The number is Odd',
 'The number is Even',
 'The number is Odd',
 'The number is Even',
 'The number is Odd',
 'The number is Odd',
 'The number is Odd',
 'The number is Odd',
 'The number is Even',
 'The number is Odd']

Lambda Functions

In [32]:
def add(a,b):
    return a+b

In [33]:
add(5,4)

9

In [34]:
addition=lambda a,b:a+b

In [35]:
addition(4,5)

9

In [36]:
eve=lambda x:x%2==0

In [37]:
eve(3455)

False

Filter Function

In [38]:
filter(even_or_odd,lst)

In [40]:
list(filter(even_or_odd,lst)) #displays all as we are getting for both

[1, 2, 3, 4, 5, 6, 7, 8, 23, 45, 67, 245, 6786, 9999]

In [41]:
list(filter(lambda x:x%2==0 ,lst))

[2, 4, 6, 8, 6786]

List comprehension

In [42]:
[i**2 for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 529, 2025, 4489, 60025, 46049796, 99980001]

In [43]:
[i**2 for i in lst if i%2==0]

[4, 16, 36, 64, 46049796]

In [46]:
[i**2 if i%2==0 else i**3 for i in lst]

[1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 12167,
 91125,
 300763,
 14706125,
 46049796,
 999700029999]

OOPS in Python